<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>


    <div class="app-container">

        <%- include("./components/sidebar", { user: user, data: data }) %>

            <div class="app-content teachers-views">
                <div class="app-content-header">
                    <h1 class="app-content-headerText">Teachers</h1>
                    <button class="mode-switch" title="Switch Theme">
                    <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                    <defs></defs>
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
                </button>
                    <button class="app-content-headerButton" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal11">Add Teacher</button>
                </div>
                <div class="app-content-actions">
                    <input class="search-bar" placeholder="Search..." type="text">
                </div>
                <div class="products-area-wrapper tableView">
                    <div class="products-header">
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>ID</span>
                            </h6>
                        </div>
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>Name</span>
                            </h6>
                        </div>
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>Groups</span>
                            </h6>
                        </div>
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>Salary</span>
                            </h6>
                        </div>
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>Edit/Delete</span>
                            </h6>
                        </div>
                    </div>
                    <div class="table-body-teachers">
                        <% teachers.map((t, index) => { %>
                            <div class="products-row">
                                <button class="cell-more-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
                            </button>
                                <div class="product-cell image">
                                    <span><%= index + 1 %></span>
                                </div>
                                <div class="product-cell category"><span class="cell-label">Name:</span>
                                    <%= t.name %>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Groups:</span>
                                    <details>
                                        <summary>
                                            <% if(t.groups.length > 1) { %>
                                                <%= t.groups.length %> groups
                                                    <% } else { %>
                                                        <%= t.groups.length %> group
                                                            <% } %>
                                        </summary>
                                        <% t.groups.map(g => { %>
                                            <p style="margin: 0;">
                                                <%= g.name %>
                                            </p>
                                            <% }) %>
                                    </details>
                                </div>
                                <div class="product-cell price"><span class="cell-label">Salary:</span>
                                    <%= t.salary %> So'm
                                </div>
                                <div class="product-cell price"><span class="cell-label">Salary:</span>
                                    <button id="<%= t.id %>" data-bs-toggle="modal" data-bs-target="#exampleModal23" data-bs-whatever="@mdo" class="edit_btn_teacher bi bi-pencil-square">
                                </button>
                                    <button id="<%= t.id %>" class="delete_btn_teacher bi bi-trash3">
                                </button>
                                </div>
                                <div>
                                    <div class="modal fade" id="exampleModal23" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Update Teacher
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="exampleDataList111" class="form-label">Teacher Name</label>
                                                    <input class="form-control" type="text" name="name" value="" list="datalistOptions" id="exampleDataList111" required placeholder="Name create...">
                                                    <label for="exampleDataList121" class="form-label">Teacher Salary</label>
                                                    <input class="form-control" type="number" name="salary" value="" list="datalistOptions" id="exampleDataList121" required placeholder="Salary create...">
                                                    <label for="exampleDataList151" class="form-label">Teacher accaunt password</label>
                                                    <input class="form-control" type="password" name="password" value="" list="datalistOptions" id="exampleDataList151" minlength="8" maxlength="8" required placeholder="Teacher accaunt password...">
                                                    <label for="exampleDataList131" class="form-label">which course he teaches</label>
                                                    <select name="courseId" id="exampleDataList131" class="form-select" aria-label="Default select example">
                                                    <option selected>which course he teaches</option>
                                                    <% courses.map(c => { %>
                                                        <option value="<%= c.id %>"><%= c.name %></option>
                                                    <% }) %>    
                                                </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button id="<%= t.id %>" type="button" class="btn btn-primary updated_btn_teachers">Updated Teacher</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="/admin/coursepost" class="modal-content" method="POST" enctype="application/x-www-form-urlencoded">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Teacher</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="exampleDataList11" class="form-label">Teacher Name</label>
                            <input class="form-control" type="text" name="name" list="datalistOptions" id="exampleDataList11" required placeholder="Name create...">
                            <label for="exampleDataList12" class="form-label">Teacher Salary</label>
                            <input class="form-control" type="number" name="salary" list="datalistOptions" id="exampleDataList12" required placeholder="Salary create...">
                            <label for="exampleDataList15" class="form-label">Teacher accaunt password</label>
                            <input class="form-control" type="password" name="password" list="datalistOptions" id="exampleDataList15" minlength="8" maxlength="8" required placeholder="Teacher accaunt password...">
                            <label for="exampleDataList13" class="form-label">which course he teaches</label>
                            <select name="courseId" id="exampleDataList13" class="form-select" aria-label="Default select example">
                            <option selected>which course he teaches</option>
                            <% courses.map(c => { %>
                                <option value="<%= c.id %>"><%= c.name %></option>
                            <% }) %>    
                        </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary adding_teacher">Add teacher</button>
                        </div>
                    </form>
                </div>
            </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/js/adminTeacher.js"></script>
</body>

</html>