<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <title>CRM Admin</title>
  </head>

  <body>
    <div class="app-container">
      <%- include("./components/sidebar", { user: user, data: data }) %>

      <div class="app-content courses-views">
        <div class="app-content-header">
          <h1 class="app-content-headerText">Courses</h1>
          <button class="mode-switch" title="Switch Theme">
            <svg
              class="moon"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <defs></defs>
              <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
          </button>
          <button
            class="app-content-headerButton"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Course
          </button>
        </div>
        <div class="app-content-actions">
          <input class="search-bar" placeholder="Search..." type="text" />
        </div>
        <div class="products-area-wrapper tableView">
          <div class="products-header">
            <div class="product-cell image">
              <h6 href="#" class="sort-button">
                <span>ID</span>
              </h6>
            </div>
            <div class="product-cell image">
              <h6 href="#" class="sort-button">
                <span>CourseName</span>
              </h6>
            </div>
            <div class="product-cell image">
              <h6 href="#" class="sort-button">
                <span>Teachers</span>
              </h6>
            </div>
            <div class="product-cell image">
              <h6 href="#" class="sort-button">
                <span>Price</span>
              </h6>
            </div>
            <div class="product-cell image">
              <h6 href="#" class="sort-button">
                <span>Edit/Delete</span>
              </h6>
            </div>
          </div>
          <div class="table-body">
            <% courses.map((c, index) => { %>
            <div class="products-row">
              <button class="cell-more-button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-more-vertical"
                >
                  <circle cx="12" cy="12" r="1" />
                  <circle cx="12" cy="5" r="1" />
                  <circle cx="12" cy="19" r="1" />
                </svg>
              </button>
              <div class="product-cell image">
                <span><%= index + 1 %></span>
              </div>
              <div class="product-cell category">
                <span class="cell-label">Name:</span>
                <%= c.name %>
              </div>
              <div class="product-cell stock">
                <span class="cell-label">Teachers:</span>
                <details>
                  <summary>
                    <% if(c.teachers.length > 1) { %> <%= c.teachers.length %>
                    teachers <% } else { %> <%= c.teachers.length %> teacher <%
                    } %>
                  </summary>
                  <% c.teachers.map(t => { %>
                  <p style="margin: 0"><%= t.name %></p>
                  <% }) %>
                </details>
              </div>
              <div class="product-cell price">
                <span class="cell-label">Price:</span>
                <%= c.price %> So'm
              </div>
              <div class="product-cell price">
                <span class="cell-label">Price:</span>
                <button
                  id="<%= c.id %>"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal3"
                  data-bs-whatever="@mdo"
                  class="edit_btn bi bi-pencil-square"
                ></button>
                <button
                  id="<%= c.id %>"
                  class="delete_btn bi bi-trash3"
                ></button>
              </div>
              <div>
                <div
                  class="modal fade"
                  id="exampleModal3"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Update Course
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <div class="mb-3">
                            <label for="recipientName" class="col-form-label"
                              >Name</label
                            >
                            <input
                              type="text"
                              value=""
                              class="form-control"
                              id="recipientName"
                            />
                          </div>
                          <div class="mb-3">
                            <label for="recipientName2" class="col-form-label"
                              >Price</label
                            >
                            <input
                              type="text"
                              value=""
                              class="form-control"
                              id="recipientName2"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          id="<%= c.id %>"
                          type="button"
                          class="btn btn-primary updated_btn_courses"
                        >
                          Updated
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <form
            action="/admin/coursepost"
            class="modal-content"
            method="POST"
            enctype="application/x-www-form-urlencoded"
          >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add course</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <label for="exampleDataList" class="form-label">Name</label>
              <input
                class="form-control"
                type="text"
                name="name"
                list="datalistOptions"
                id="exampleDataList"
                required
                placeholder="Course Name create..."
              />
              <label for="exampleDataList2" class="form-label">Price</label>
              <input
                class="form-control"
                type="number"
                name="price"
                list="datalistOptions"
                id="exampleDataList2"
                required
                placeholder="Course price create..."
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary adding_course">
                Add course
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
