<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>
        CRM
        <%= user.name %>
    </title>
</head>

<body>

    <div class="app-container">
        <%- include("./components/sidebar") %>

            <div class="app-content groups-student-views">
                <div class="app-content-header">
                    <h1 class="app-content-headerText">Groups</h1>
                    <button class="mode-switch" title="Switch Theme">
              <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
              <defs></defs>
              <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
              </svg>
          </button>
                </div>
                <div class="app-content-actions">
                    <input class="search-bar" placeholder="Search..." type="text">
                </div>
                <div class="products-area-wrapper tableView">
                    <div class="products-header">
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>ID</span>
                            </h6>
                        </div>
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>GroupName</span>
                            </h6>
                        </div>
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>Homework</span>
                            </h6>
                        </div>
                        <div class="product-cell image">
                            <h6 href="#" class="sort-button">
                                <span>Homework send</span>
                            </h6>
                        </div>
                    </div>
                    <div class="table-body-groups-teacher">
                        <% groups.map((g, index) => { %>
                            <% if(user.groupId == g.id) { %>
                                <div class="products-row">
                                    <button class="cell-more-button">
                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
                              </button>
                                    <div class="product-cell image">
                                        <span><%= index + 1 %></span>
                                    </div>
                                    <div class="product-cell category"><span class="cell-label">Name:</span>
                                        <%= g.name %>
                                    </div>
                                    <div class="product-cell price"><span class="cell-label">students:</span>
                                        <% if(g.homework) { %>
                                            <%= g.homework %>
                                                <% } else { %>
                                                    <%= "Uy ishi berilmagan" %>
                                                        <% } %>
                                    </div>
                                    <div class="product-cell stock"><span class="cell-label">Homework:</span>
                                        <button id="<%= g.id %>" class="btn btn-secondary bi bi-send" data-bs-toggle="modal" data-bs-target="#exampleModal1043" data-bs-whatever="@mdo">
                                            Homework Send
                                        </button>
                                    </div>
                                    <div>
                                        <div class="modal fade" id="exampleModal1043" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form action="/student/uploadhomework/<%= user.id %>" enctype="multipart/form-data" method="POST" class="modal-content upload_homework_form">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Homework send!
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <label for="exampleDataList2013" class="form-label">Homework</label>
                                                        <input class="form-control" type="file" name="file" list="datalistOptions" id="exampleDataList2013" required placeholder="Homework...">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button id="<%= g.id %>" type="submit" id="liveToastBtn" class="btn btn-primary upload_homework">Homework Send</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% }) %>
                    </div>
                </div>
            </div>

            <div style="display: none;" class="my_tosts_2">
                <div style="position: fixed; top: 5%; right: 2%; z-index: 1000000; width: 30%; height: 10%; border-radius: 10px; background-color: rgb(57, 255, 90); box-shadow: 0 0 20px rgba(0, 0, 0, 0.674); padding: 10px;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h6>Message: Succesfull 🥳🥳</h6>
                        <button style="border: none; background-color: transparent; font-size: 20px;" class="tost_closes_2">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    <p>
                        Sizing Vazifangiz muvaffaqiyatli yuklandi!
                    </p>
                </div>
            </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/js/students.js"></script>
</body>

</html>